# Ex-2.5 Advancecd Geospatial plotting

In [1]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# Obtaining citibikes dataset
df_merged = pd.read_csv('NewYork_Bikes_data.csv', index_col = 0)

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\877886004.py:2: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv('NewYork_Bikes_data.csv', index_col = 0)

In [3]:
df_merged.to_pickle('NewYork_Bikes_data.pickle')

In [4]:
df_merged.read_pickle('NewYork_Bikes_data.pickle')

AttributeError: 'DataFrame' object has no attribute 'read_pickle'

### Performing data consistency check
#### It appears that there is inconsistency with respect to values in columns 'start_station_id', 'end_station_id' as some contain numeric and some contain the non numeric value- 'Lab - NYC', so I decided to check for these non numeric values.

In [5]:
mask = (df_merged['start_station_id'] == 'Lab - NYC') | (df_merged['end_station_id'] == 'Lab-NYC')

# Applying the mask to filter the DataFrame
lab_nyc_data = df_merged[mask]

# Displaying the filtered DataFrame
print(lab_nyc_data[['start_station_id', 'end_station_id']])

         start_station_id end_station_id
334910          Lab - NYC      Lab - NYC
335064          Lab - NYC      Lab - NYC
335065          Lab - NYC      Lab - NYC
335066          Lab - NYC      Lab - NYC
335296          Lab - NYC      Lab - NYC
...                   ...            ...
20742018        Lab - NYC      Lab - NYC
23075528        Lab - NYC      Lab - NYC
24922090        Lab - NYC      Lab - NYC
28554707        Lab - NYC      Lab - NYC
28563258        Lab - NYC      Lab - NYC

[177 rows x 2 columns]

#### There are 177 rows which contains non numeric values. These columns are not consistent with the analysis undertaken. So , I have decided to drop these columns as it might lead to data integrity issues.

In [6]:
df_clean_1 = df_merged.drop(columns=['start_station_id', 'end_station_id'])

In [7]:
df_clean_1.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'end_station_name', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual', 'date', 'avgTemp', '_merge'],
      dtype='object')

In [8]:
df_clean_1.shape

(30689921, 14)

## Data Preprocessing

In [9]:
df_clean_1.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       50
end_station_name      71773
start_lat                 0
start_lng                 0
end_lat               37516
end_lng               37516
member_casual             0
date                      0
avgTemp                   0
_merge                    0
dtype: int64

#### There are NaN values in columns- start_station_name,end_station_name,start_lat,start_lng.
#### Checking if the rows containing 50 NaN values in start_station_name are aslo the NaN values for end_station_name or not.

In [10]:
# Step 1: Filtering rows with missing 'start_station_name'
missing_start_stations = df_clean_1[df_clean_1['start_station_name'].isna()]

# Step 2: Checking if these rows also have missing 'end_station_name'
missing_start_and_end = missing_start_stations[missing_start_stations['end_station_name'].isna()]

# Print the result
print("Rows with missing start_station_name and end_station_name:", missing_start_and_end.shape[0])
print(missing_start_and_end[['start_station_name', 'end_station_name']])

Rows with missing start_station_name and end_station_name: 50
         start_station_name end_station_name
1318376                 NaN              NaN
3323137                 NaN              NaN
3323138                 NaN              NaN
3323139                 NaN              NaN
3323140                 NaN              NaN
3323141                 NaN              NaN
3323142                 NaN              NaN
3323143                 NaN              NaN
23955719                NaN              NaN
24718925                NaN              NaN
24718926                NaN              NaN
24718927                NaN              NaN
24718928                NaN              NaN
24718929                NaN              NaN
24741989                NaN              NaN
24741990                NaN              NaN
26622196                NaN              NaN
28255978                NaN              NaN
28255979                NaN              NaN
28255980                NaN              NaN
29354386                NaN              NaN
29354397                NaN              NaN
29354410                NaN              NaN
29719269                NaN              NaN
29719300                NaN              NaN
29719334                NaN              NaN
29719415                NaN              NaN
29719441                NaN              NaN
29719487                NaN              NaN
29719502                NaN              NaN
29719516                NaN              NaN
29719527                NaN              NaN
29719528                NaN              NaN
29720589                NaN              NaN
29720662                NaN              NaN
29720672                NaN              NaN
29720749                NaN              NaN
29720753                NaN              NaN
29720754                NaN              NaN
29720758                NaN              NaN
29720772                NaN              NaN
29720806                NaN              NaN
29721133                NaN              NaN
29721506                NaN              NaN
29721579                NaN              NaN
29721606                NaN              NaN
29721609                NaN              NaN
29727176                NaN              NaN
29727189                NaN              NaN
29727206                NaN              NaN

#### Finding out the percentage of data containing NaN values, to decide if removing is good or not at this stage.

In [11]:
# Checking for missing values in any of the specified columns
missing_any = df_clean_1[['start_station_name', 'end_station_name', 'end_lat', 'end_lng']].isna().any(axis=1)

# Calculating the number of rows with missing values in any of the specified columns
total_missing = missing_any.sum()

# Calculating the total number of rows in the DataFrame
total_rows = df_clean_1.shape[0]

# Calculating the percentage of data loss
percent_total_data_loss = round((total_missing / total_rows) * 100, 2)

# Print the result
print(f"{percent_total_data_loss}% of total data loss if NaN rows in any of 'start_station_name', 'end_station_name', 'end_lat', 'end_lng'")

0.23% of total data loss if NaN rows in any of 'start_station_name', 'end_station_name', 'end_lat', 'end_lng'

#### Since the NaN values make only upto 0.23% of entire data,so, I am dropping these rows.

In [12]:
df_clean_2 = df_clean_1.dropna(subset=['start_station_name', 'end_station_name', 'end_lat', 'end_lng'])

In [13]:
df_clean_2.shape

(30618148, 14)

In [14]:
df_clean_2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,Clinton St & Joralemon St,40.688489,-73.991160,40.692395,-73.993379,member,2022-01-18,1.8,both
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,E 10 St & Avenue A,40.727243,-73.976831,40.727408,-73.981420,member,2022-01-21,-6.0,both
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,W 44 St & 11 Ave,40.741740,-73.994156,40.762009,-73.996975,member,2022-01-22,-5.9,both
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,Crescent St & 30 Ave,40.764175,-73.915840,40.768692,-73.924957,member,2022-01-19,3.2,both
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,Clinton St & Tillary St,40.685376,-73.983021,40.696233,-73.991421,member,2022-01-16,-8.0,both

In [15]:
# Creating a value column and group by start and end station 

df_clean_2['value'] = 1
# Group by all specified columns and count 'value'
# Group by start and end station names and count occurrences
df_stations = df_clean_2.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\2269729395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_2['value'] = 1

In [16]:
df_stations.head()

  start_station_name  end_station_name  value
0   1 Ave & E 110 St  1 Ave & E 110 St   1473
1   1 Ave & E 110 St   1 Ave & E 18 St      2
2   1 Ave & E 110 St   1 Ave & E 30 St      4
3   1 Ave & E 110 St   1 Ave & E 39 St      1
4   1 Ave & E 110 St   1 Ave & E 44 St     12

In [17]:
df_stations.shape

(1013414, 3)

# Start Station

In [18]:
start_name=df_stations[['start_station_name']]

In [19]:
start_name.head()

  start_station_name
0   1 Ave & E 110 St
1   1 Ave & E 110 St
2   1 Ave & E 110 St
3   1 Ave & E 110 St
4   1 Ave & E 110 St

In [20]:
start_name.shape

(1013414, 1)

In [21]:
start_name.drop_duplicates(inplace=True)

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\4040858919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_name.drop_duplicates(inplace=True)

In [22]:
start_name.head()

     start_station_name
0      1 Ave & E 110 St
712     1 Ave & E 16 St
1647    1 Ave & E 18 St
2618    1 Ave & E 30 St
3540    1 Ave & E 39 St

In [23]:
start_name.shape

(1761, 1)

In [24]:
start_stations = df_clean_2[['start_station_name', 'start_lat', 'start_lng']]

In [25]:
start_stations.head()

        start_station_name  start_lat  start_lng
0  Boerum Pl\t& Pacific St  40.688489 -73.991160
1          E 12 St & Ave C  40.727243 -73.976831
2          W 21 St & 6 Ave  40.741740 -73.994156
3           38 St & 30 Ave  40.764175 -73.915840
4   Pacific St & Nevins St  40.685376 -73.983021

In [26]:
start_stations.shape

(30618148, 3)

In [27]:
start_stations.drop_duplicates(inplace=True)

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\2522370280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_stations.drop_duplicates(inplace=True)

In [28]:
start_stations.shape

(4147610, 3)

In [29]:
start_name.shape

(1761, 1)

In [30]:
list_start_station = []

In [31]:
for i in range( len(start_name)):
    station_name = start_name.iloc[i]['start_station_name']
    if station_name in start_stations['start_station_name'].values:
        data = start_stations[start_stations['start_station_name'] == station_name]
        list_start_station.append(data)

In [32]:
start_station_data = pd.concat(list_start_station).reset_index(drop=True)

In [33]:
start_station_data.head()

  start_station_name  start_lat  start_lng
0   1 Ave & E 110 St  40.792327 -73.938300
1   1 Ave & E 110 St  40.792327 -73.938300
2   1 Ave & E 110 St  40.792439 -73.938087
3   1 Ave & E 110 St  40.792318 -73.938199
4   1 Ave & E 110 St  40.792372 -73.938267

In [34]:
start_station_data.drop_duplicates(subset=['start_station_name'], inplace=True)

In [35]:
start_station_data = start_station_data.reset_index(drop=True)

In [36]:
start_station_data.head()

  start_station_name  start_lat  start_lng
0   1 Ave & E 110 St  40.792327 -73.938300
1    1 Ave & E 16 St  40.732219 -73.981656
2    1 Ave & E 18 St  40.733812 -73.980544
3    1 Ave & E 30 St  40.741444 -73.975361
4    1 Ave & E 39 St  40.747140 -73.971130

#### Merging start station data with aggregated group by data which contains value counts of station trips.

In [37]:
df_dummy = df_stations.merge(start_station_data, left_on='start_station_name', right_on='start_station_name', how='left')

In [38]:
df_dummy.head()

  start_station_name  end_station_name  value  start_lat  start_lng
0   1 Ave & E 110 St  1 Ave & E 110 St   1473  40.792327   -73.9383
1   1 Ave & E 110 St   1 Ave & E 18 St      2  40.792327   -73.9383
2   1 Ave & E 110 St   1 Ave & E 30 St      4  40.792327   -73.9383
3   1 Ave & E 110 St   1 Ave & E 39 St      1  40.792327   -73.9383
4   1 Ave & E 110 St   1 Ave & E 44 St     12  40.792327   -73.9383

# End Station

In [39]:
end_name=df_stations[['end_station_name']]

In [40]:
end_name.head()

   end_station_name
0  1 Ave & E 110 St
1   1 Ave & E 18 St
2   1 Ave & E 30 St
3   1 Ave & E 39 St
4   1 Ave & E 44 St

In [41]:
end_name.shape

(1013414, 1)

In [42]:
end_name.drop_duplicates(inplace=True)

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\2336912990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_name.drop_duplicates(inplace=True)

In [43]:
end_name.head()

   end_station_name
0  1 Ave & E 110 St
1   1 Ave & E 18 St
2   1 Ave & E 30 St
3   1 Ave & E 39 St
4   1 Ave & E 44 St

In [44]:
end_name.shape

(1841, 1)

In [45]:
end_stations = df_clean_2[['end_station_name', 'end_lat', 'end_lng']]

In [46]:
end_stations.head()

            end_station_name    end_lat    end_lng
0  Clinton St & Joralemon St  40.692395 -73.993379
1         E 10 St & Avenue A  40.727408 -73.981420
2           W 44 St & 11 Ave  40.762009 -73.996975
3       Crescent St & 30 Ave  40.768692 -73.924957
4    Clinton St & Tillary St  40.696233 -73.991421

In [47]:
end_stations.shape

(30618148, 3)

In [48]:
end_stations.drop_duplicates(inplace=True)

C:\Users\Usha Bharati\AppData\Local\Temp\ipykernel_18680\886549750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_stations.drop_duplicates(inplace=True)

In [49]:
end_stations.shape

(2697, 3)

In [50]:
end_name.shape

(1841, 1)

In [51]:
list_end_station = []

In [52]:
for i in range( len(end_name)):
    station_name = end_name.iloc[i]['end_station_name']
    if station_name in end_stations['end_station_name'].values:
        data = end_stations[end_stations['end_station_name'] == station_name]
        list_end_station.append(data)

In [53]:
end_station_data = pd.concat(list_end_station).reset_index(drop=True)

In [54]:
end_station_data.head()

   end_station_name    end_lat    end_lng
0  1 Ave & E 110 St  40.792327 -73.938300
1  1 Ave & E 110 St  40.792327 -73.938300
2   1 Ave & E 18 St  40.733812 -73.980544
3   1 Ave & E 18 St  40.733812 -73.980544
4   1 Ave & E 30 St  40.741444 -73.975361

#### Merging end station data with the start station data and value counts into a final dataframe which would contain station names and latitudes and longitudes.

In [55]:
df_final_station_data = df_dummy.merge(end_station_data, left_on='end_station_name', right_on='end_station_name', how='left')

In [56]:
df_final_station_data

,start_station_name,end_station_name,value,start_lat,start_lng,end_lat,end_lng
0,1 Ave & E 110 St,1 Ave & E 110 St,1473,40.792327,-73.938300,40.792327,-73.938300
1,1 Ave & E 110 St,1 Ave & E 110 St,1473,40.792327,-73.938300,40.792327,-73.938300
2,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792327,-73.938300,40.733812,-73.980544
3,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792327,-73.938300,40.733812,-73.980544
4,1 Ave & E 110 St,1 Ave & E 30 St,4,40.792327,-73.938300,40.741444,-73.975361
...,...,...,...,...,...,...,...
1622729,Yankee Ferry Terminal,West St & Liberty St,4,40.687066,-74.016756,40.711444,-74.014847
1622730,Yankee Ferry Terminal,West Thames St,1,40.687066,-74.016756,40.708347,-74.017134
1622731,Yankee Ferry Terminal,West Thames St,1,40.687066,-74.016756,40.708347,-74.017134
1622732,Yankee Ferry Terminal,Yankee Ferry Terminal,5965,40.687066,-74.016756,40.687066,-74.016756
1622733,Yankee Ferry Terminal,Yankee Ferry Terminal,5965,40.687066,-74.016756,40.687066,-74.016756

In [57]:
df_final_station_data.rename(columns = {'value': 'trips'}, inplace = True)

In [58]:
df_final_station_data.to_csv('df_final_locations_for_map.csv')

## Initializing an instance of a kepler.gl map.

In [59]:
m = KeplerGl(height = 700, data={"data_1":df_final_station_data })

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [60]:
m

KeplerGl(data={'data_1':             start_station_name       end_station_name  trips  start_lat  \
0

## Customizing the map

#### 1.I have changed the color palette to show where most of the trips started and where they ended. This makes the map more visually appealing and intuitive to interpret. 
#### 2.By expanding the layers, I selected start points and selected a visually appealing colour for start stations. Also to obtain the colors to a more neutral single color, I did the same for end points as well.
#### 3.For connecting the start and end station names, I selected start->end arc and this enabled lines that show a trip between two stations.

## Adding a filter to the map and use it to see what the most common trips are in New York City.

#### 1.To see what the most common trips are in New York City, I navigated to the Filters icon which allows to add a new filter based on the column trips.
#### 2.The trips visualized on the map decrease significantly when the slider moves to the right. However, on hovering over one of the trips, it shows the start and end station names along with the total trip count for that line.
#### 3.Data points were too dense initially but after applying filter it is very easy to find the stations people like to cycle between regularly. The one-time trips or rare trips have been filtered out, and we are left with the potentially problematic stations that could cause the shortages.
#### 4.Upon closer analysis, it can be noticed that stations "Central Park S & 6 Ave"  and "7 Ave & Central Park South" are very popular. 
#### 5.A quick search on Google confirms that all these stations are located close to American museum of natural history, Museum of modern art, Empire state building,  Museum of the city of NewYork which are definitely popular destinations.

## Creating a config object and saving the map with it.

In [76]:
config = m.config

In [77]:
config

{'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['data_1'],
     'id': 'bkaa3y3v8',
     'name': ['trips'],
     'type': 'range',
     'value': [1696, 13802],
     'enlarged': False,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 1}],
   'layers': [{'id': 'kxjdlkr',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'start',
      'color': [134, 10, 90],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'start_lat', 'lng': 'start_lng', 'altitude': None},
      'isVisible': True,
      'visConfig': {'radius': 10,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'psp19im',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'end',
      'color': [237, 171, 0],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'end_lat', 'lng': 'end_lng', 'altitude': None},
      'isVisible': True,
      'visConfig': {'radius': 10,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': '93s029p',
     'type': 'arc',
     'config': {'dataId': 'data_1',
      'label': 'start -> end arc',
      'color': [174, 14, 127],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lng',
       'lat1': 'end_lat',
       'lng1': 'end_lng'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'thickness': 4.4,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': [253, 201, 0]},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'm6chpxs',
     'type': 'line',
     'config': {'dataId': 'data_1',
      'label': 'start -> end line',
      'color': [136, 87, 44],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lng',
       'alt0': None,
       'lat1': 'end_lat',
       'lng1': 'end_lng',
       'alt1': None},
      'isVisible': False,
      'visConfig': {'opacity': 0.8,
       'thickness': 2,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': None,
       'elevationScale': 1},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data_1': [{'name': 'start_station_name',
        'format': None},
       {'name': 'end_station_name', 'format': None},
       {'name': 'trips', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 40.75896152240308,
   'longitude': -74.01967295416414,
   'pitch': 0,
   'zoom': 11.509858982086184,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [78]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [79]:
m.save_to_html(file_name = 'NewYork Citi Bike Trips Aggregated.html', read_only = False, config = config)

Map saved to NewYork Citi Bike Trips Aggregated.html!